html {
  box-sizing: border-box;
}



body {
    padding: 0;
    margin: 0;
    background-color: #e6e6e6;
    font-family: sans-serif;
}

.container {
  width: 100%;
  height: 350px;
  max-width: 380px;
  margin: 0 auto;
  color: #333;
  height: 90vh;
  margin-top: 10px;
  overflow-y: auto;
  border-style: none;
  border-color: green;
  border-top-right-radius:20px ;
  border-top-left-radius:20px ;
  background-color: white;
  }
  
.header {
  color:#ffffff;
  font-family:  Oxygen-Sans;
  background-color: green;
  width: 380px;
  height: 50px;
  background-size: 100% 200%;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
  position: relative;
  padding: 0;
  margin: 0;
  }
  .title{
    vertical-align: middle;
  }
  h1{
     position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
  }
.content{
  margin: 10px; 
}
.list {
  list-style: none;
  margin-bottom: 20px;
}
.form{
  display:flex;
}
hr{
  margin: 20px 0px;
}
button{
  font-size: 35px;
  background: transparent;
  }
.submit {
  color: #4162f6;
  border-style: none;

}
ul{
  margin:0;
  padding: 0;
}
.todo-item {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.todo-item span {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
  color: black;
  padding-left: 40px;
  }
.text{
  text-transform: capitalize;
}

.done span {
  text-decoration: line-through;
  color : #ccc;
  /*position: absolute;*/
   /* padding:0;
    margin:0;*/
   
}


.tick {
  font-size: 18px;
  color: white;
  border-radius:200%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
.done .tick {
  font-size: 22px;
  border-style: none; 
  color: green;
  display: inline;
  
}

.delete-todo {
  /*border: none;*/
  color: black;
  cursor: pointer;
  font-size: 22px; 
}

.delete-todo:hover{
  color:red;
}

form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

input{
  margin-right: 5px;
}
input[type="text"] {
  width: 100%;
  padding: 0px;
  border-radius: 10px;
  border: 2px solid #4162f6;
  font-size: 18px;
  
}